@media only screen and (max-width: 800px){
.front-page-wrapper{
    padding-bottom:100px;
}
    .front-page-content{
    padding:25px;
}
}
@media only screen and (max-width: 990px){
    .nav-home{
    background-color: #006064 !important;
    position: fixed;
    width:100%;
    }
    .nav-home .menu{
        display: block;
        margin:0px;
        padding:0px;
    }
    .nav-home .menu .menu-item{
        margin:2px 0px 0px 0px;
        
    }
    .front-page-content{
        order:2;
        margin-top:50px;
    }
    .front-page-navbar-wrapper{
        order:1;
        padding-left: 0px;
    }
    .nav-blog{
        padding:10px 10px;
    }
    .nav-blog .menu{
        display: block;
        margin:0px;
        padding-left:0px;
    }
    .nav-blog .menu .menu-item{
        margin:2px 0px 0px 0px;
    }
    .contact-content-wrapper{
        max-width:60%;
    }
    .contact-submenu-icon{
        width:32px;
        height:auto;
    }
    .home-search-input{
        width:80vw;
    
    } 
}

@media only screen and (max-width:600px){
    .blog{
        padding:55px 25px;
        text-align: center;
    }
    .blog-button{
        position: absolute;
        top:15px;
        transform: translateX(40vw);
    }
    .contact-content-wrapper{
        max-width:100%;
    }
    .contact-content-thumbnail img{
        width:50%;
        height:auto;
    }
    .contact-wrapper{
        padding-top:0px;
    }
}
@media only screen and (max-width:575px){
    .submenu-item-wrapper{
        display: flex;
        padding:10px 0px 10px 25px;
        margin:15px 0px;
    }
    .contact-submenu-icon{
        width:50px;
        height:50px;
    }
    .submenu-caption-wrapper{
        padding-top:0px;
        padding-left:15px;
        margin-top:-14px;
        text-align: left;
    }
    .submenu-caption{
        padding-left:15px;
    }
    .submenu-caption-subtext{
        text-align: left;
        padding-left: 15px;
    }
    .home-search-input{
        width:75vw;
    }
    .contact-info-icon{
        padding:15px;
}
}

@media only screen and (max-width: 992px){
    .blog-wrapper{
        display: flex;
        flex-direction: column;
    }
    .blog-wrapper-right{
        /* width:100vw; */
        margin:0px;
}
}