body{
    overflow-x: hidden;
}
.front-page-wrapper{
    margin:0px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom:200px;
    background-size:cover; 
    background-attachment: fixed;
    color:black;
}

.front-page-content{
    padding:100px;
    padding-bottom:50px;
    flex:1;
    order:1;
}
.front-page-navbar-wrapper{
    flex:1;
    order:2;
    padding-left:150px;
}
.front-page-content p{
    line-height: 1.5em;
    margin-top:25px;
    text-align: justify;
}
.nav-home{
    background: transparent !important;
}
.empty{
    display: none;
}
.nav-home .menu{
    display: flex;
    padding-top:10px;
}
.nav-home .menu .menu-item{
    list-style: none;
    flex:1;
    padding:15px 25px;
    font-size: 16px;
    background-color: #006064;
}
.nav-home .menu .menu-item:hover{
    background-color: aquamarine;
    
}
.nav-home .menu .menu-item a{
    text-decoration: none;
    color:white;
}
.nav-home .menu .menu-item a:hover{
    color:black;
}
.nav-home ul.menu > :first-child{
    border-top-left-radius: 5px;
}

.nav-blog{
    padding:0px;
    margin:0px;
}
.nav-blog .menu-primary-navigation-container{
    margin:auto;
    margin-right:25px;
}
.nav-blog .menu{
    display: flex;
    padding-bottom:0px;
    margin: auto;
    /* margin-bottom:0px; */
}

.nav-blog .menu .menu-item{
    list-style: none;
    flex:1;
    padding:15px 25px;
    font-size: 16px;
}
.nav-blog .menu .menu-item a{
    text-decoration: none;
    color:black;
}
.nav-blog .menu .menu-item a:hover{
    color:black;
}
.nav-blog .menu .menu-item:hover{
    background: silver;
}
.blog{
    padding-top:140px;
    padding-bottom:40px;
    background-size: cover;
    background-attachment: fixed;
}
.blog .heading{
    font-size:50px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
}
.blog .sub-heading{
    font-size:22px;
    color:whitesmoke;
    text-align: center;
    padding-top:50px;
    text-shadow: 1px 1px rgb(14, 12, 12);
}
.blog-button-wrapper{
    position: relative;
}
.blog-button{
    position: absolute;
    background:#ffd600;
    font-size: 32px;
    padding: 10px 20px;
    border:1px solid #ffd600ed;
    color: whitesmoke;
    border-radius: 100px;
    /*transform: translateX(45vw) !important;*/
    left:45vw;
}
.hide{
    display: none;
}

.contact-wrapper{
    background-size: cover;
    height: 100vh;
}
.whole-page{
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
}
ul.search{
background: #006064;
margin-top:10px;
border-top-right-radius: 5px;
border-bottom-right-radius: 0px;
padding:0px;

}
ul.search li{
    list-style: none;
    padding:8px;
}
.home-search-input{
    padding:7px;
    width:387px;
    border:1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:0px;
}
.home-search-input-submit{
    padding:7px 8px;
    padding-bottom:7px;
    background:white;
    color:black;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    border:0px;
    margin-left:-6px;
    transition: 0.5s;
}
.home-search-input-submit:hover{
    background:black;
    color:white;
    transition: 0.5s;
}
ul.logo{
    background: #006064;
}
ul.logo li{
    list-style: none;
}
.contact-wrapper{
    background-attachment: fixed;
    background-size: cover;
    padding-top:50px;
}
.contact-content-wrapper{
    display: block;
    position: relative;
    /*border:1px solid red;*/
    margin:auto;
    max-width: 40%;
}
.contact-content-title{
    background:white;
    padding:25px;
}
.contact-content-title h4{
    text-transform: uppercase;
}
.contact-content-thumbnail{
    /*border:1px solid green;*/
    background: black;
}
.contact-content-thumbnail img{
    max-width:100%;
    width: 100%;
    height:auto;
    text-align: center;    
}
.contact-content-submenu-wrapper{
    background: white;
    padding:0px 15px;
    /*padding-top:25px;*/
    text-align: center;
    border:1px solid white;
    /*margin-top:-25px;*/
}
.submenu-caption{
    margin-top:15px;
    margin-bottom:0px;
    /*border:1px dotted green;*/
}
.contact-info-wrapper{
    position: relative;
    /*top:360px;
    left:415px;*/
    background: rgb(255, 255, 255);
    padding:15px;
    border-radius:0px;
}
.contact-info-icon{
    position: relative;
    top:-30px;
    width:40px !important;
    height: 40px !important;
    background:white;
    border-radius:19px;
}
.submenu-item-wrapper{
    /*border:1px solid red;*/
    padding:25px 0px 15px 0px;
}
.submenu-caption-wrapper{
    display: flex;
    flex-direction: column;

}
.submenu-item-wrapper:hover{
    background:#e0e0e0;
}
.submenu-caption-subtext{
    font-size: 12px;
    color:#7f8c8d;
    margin-top:5px;
}
.resume-header-wrapper{
    background-size: cover;
    background-attachment: fixed;
}
.resume-header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    /* border:1px solid red; */
}
.resume-header-content-thumbnail img{
    display: block;
    margin: auto;
    padding:25px 25px;
    border-radius: 500px;
    width: 200px;
    max-width: 100%;
    height:auto;

}
.resume-header-content-dynamic-content{
    /* border:1px solid red; */
    text-align: center;
}
.resume-links{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-bottom:15px;
}
.resume-links-social{
    margin-top:50px;
    margin-bottom: 50px;
}
.resume-links-social img{
    /* padding:0px 15px;  */
}
.navbar-brand{
    margin:5px 5px 5px 15px;
}
#HeadershowMoreText{
    position: relative;
    top:-3px;
}
.blog-header-button{
    color:white;
    background: #ffd600;
    padding:2px 10px;
    font-size:18px;
    border-radius:7px;
}
.blog-content-wrapper{
    /* flex:1; */
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    padding:15px;
    /* width: 50%; */
    background: #f5f2f2;
}
.blog-content-thumbnail{
    flex:1;
    order:2;
    margin-bottom: 15px;
}
.blog-content-thumbnail img{
    max-width: 100%;
    height:auto;
}
.blog-content-title{
    flex:1;
    font-size:30px;
    text-transform: uppercase;
    order:1;
    margin-bottom:15px;
}
.blog-content-data{
    flex:1;
    order:3;
}
.blog-content-meta-data{
    font-size: 12px;
    text-transform: none;
    padding-left:0px;
    color:rgb(99, 96, 96);
    display: flex;
    background: #ffda1e;
}
.blog-content-meta-data ul{
    margin:0px;
    padding:0px;
    /* padding-left:15px; */
    padding-right:5px;
}
.blog-content-meta-data ul li{
    list-style: none;
}
.blog-wrapper-right{
    flex:1;
    background: rgb(238, 59, 59);
    height:50%;
    
}

.blog-wrapper-left{
    flex:2.5;
}
.blog-wrapper{
    margin-top:100px;
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    padding:0px;
}
.widget-search-wrapper{
    background: #ffd600;
    width: 90%;
    display: block;
    margin:auto;
    margin-top:15px;
}
.blog-search-form input[type="search"]{
    width:85%;
    border:0px;
    padding:7px 5px;
}
.blog-search-form input[type="submit"]{
    margin-left:-5px;
    background:white;
    border:0px;
    padding:7px 5px;
    cursor: pointer;
}
.blog-search-form input[type="submit"]:hover{
    background: #ffd600;
}
.widget-category-list-wrapper{
    margin-top:25px;
}
h5.title{
    margin-left:15px;
    text-transform: uppercase;
}
.widget-category-list{
    margin:15px;
    display: flex;
    flex-wrap: wrap;
}
.category-item{
    /* margin-top:10px; */
    margin:2px;
    background:#ffd600;
    padding:15px;
    cursor:pointer;
}
.category-item:hover{
    background:#e6c007;
}
.widget-social ul.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding:0 15px;
}
.widget-social ul.social li{
    padding:10px 15px;
}
a.no-decoration{
    color:inherit;
    text-decoration: none;
}